
	<header>
		<img src="/assets/bg_wafflestudio.png" alt="WaffleStudio">
		<h1>Slogan?</h1>
	</header>

	<div id="note">
		<section id="leftnote">
			<div id="title"><h2>Project Title?</h2>
			</div>
			<div id="slider">
			</div>
			<div id="contents">
			</div>
		</section><!--Leftnote-->

		<section id="rightnote">
			<div id="list1">
				<p><img src="/assets/idea_sketch_title.png" alt="Idea Sketch"></p>
				<div id="idea-list"></div>
			</div>

			<div id="list2">
				<p><img src="/assets/project_title.png" alt="Project"></p>
				<div id="project-list"></div>
			</div>
		</section><!--Rightnote-->
	</div><!--Note-->

