
<% content_for :scripts do -%>
<%= javascript_include_tag '/assets/jquery.masonry.min.js' %>
<%= javascript_include_tag '/assets/jquery.imagesloaded.js' %>

<script type="text/javascript">
  $(function() {
		var $imgouter = $('.imgouter');
		var $imgouter1 = $('.imgouter1'); 
		var $imgouter2 = $('.imgouter2'); 

		$imgouter1.eq(0).show();
		$imgouter2.eq(0).show();

		$imgouter.imagesLoaded(function (){
			$imgouter.masonry({
				itemSelector: '.imgbox',
				columnWidth : 20
			});
		});

		setInterval(function (){
				var show1 = $imgouter1.index($('.imgouter1:visible').eq(0));
				var show2 = $imgouter2.index($('.imgouter2:visible').eq(0));
				$imgouter1.eq(show1).fadeOut('normal');
				$imgouter2.eq(show2).fadeOut('normal');

				setTimeout (function (){
					if ( $imgouter1.size()==(show1+1) ) { 
									$imgouter1.eq(0).fadeIn('normal') }
					else { $imgouter1.eq(show1+1).fadeIn('normal'); }
					if ( $imgouter2.size()==(show2+1) ) {
									$imgouter2.eq(0).fadeIn('normal') }
					else { $imgouter2.eq(show2+1).fadeIn('normal'); }

					$imgouter.imagesLoaded(function (){
						$imgouter.masonry({
							itemSelector: '.imgbox',
							columnWidth : 20
						});
				 	});
				}, 1000);
		
		}, 5000);
  });
</script>
<% end -%>

<div id="container">
	<div id="header">
		<img src="/assets/wafflestudio.png" alt="WaffleStudio">
		<h1>Waffle Studio</h1>
	</div>

	<div id="note">
		<div id="leftnote">
			<div id="title"><h2>Project Title?</h2>
			</div>
			<div id="slider">
			</div>
			<div id="contents">
			</div>
		</div><!--Leftnote-->

		<div id="rightnote">
			<div id="list1" class="list">
				<p><img src="/assets/project_title.png" alt="Projects"></p>
				<% 0.upto(@projects.count/5) do |j| -%>
					<div class="imgouter imgouter1 clearfix"> 
					<% 0.upto(4) do |i| -%>
						<% unless @projects[j*5+i].nil? -%>
							<div class="imgbox">
							<% Rails.logger.info @projects[j*5+i] %>
							<%= link_to image_tag(@projects[j*5+i].project_images.first.image.url(:small)) unless @projects[j*5+i].project_images.first.nil? %>
							</div><!--imgbox-->
						<% else -%>
						<% end -%>
					<% end -%>
					</div> <!--imgouter-->
				<% end -%>

			</div> <!--list1-->

			<div id="list2" class="list">
				<p><img src="/assets/idea_sketch_title.png" alt="Idea Sketches"></p>
				<% 0.upto(@sketches.count/5) do |j| -%>
					<div class="imgouter imgouter2 clearfix">
					<% 0.upto(4) do |i| -%>
						<% unless @sketches[j*5+i].nil? -%>
							<div class="imgbox">
							<% Rails.logger.info @sketches[j*5+i] %>
							<%= link_to image_tag(@sketches[j*5+i].sketch_images.first.image.url(:small)) unless @sketches[j*5+i].sketch_images.first.nil? %>
							</div><!--imgbox-->
						<% else -%>
						<% end -%>
					<% end -%>
					</div> <!--imgouter-->
				<% end -%>

			</div><!--list2-->
		</div><!--Rightnote-->
	</div><!--Note-->
</div><!--Container-->

