

<div id="container">
	<div id="header">
		<img src="/assets/wafflestudio.png" alt="WaffleStudio">
		<h1>Slogan?</h1>
	</div>

	<div id="note">
		<div id="leftnote">
			<div id="title"><h2>Project Title?</h2>
			</div>
			<div id="slider">
			</div>
			<div id="contents">
			</div>
		</div><!--Leftnote-->

		<div id="rightnote">
			<div id="list1">
				<p><img src="/assets/idea_sketch_title.png" alt="Idea Sketch"></p>
				<div id="idea-list"></div>
			</div>

			<div id="list2">
				<p><img src="/assets/project_title.png" alt="Project"></p>
				<div id="project-list"></div>
			</div>
		</div><!--Rightnote-->
	</div><!--Note-->
</div><!--Container-->

