<div id="intro_page">
  <%= image_tag "project_index_icon.png", :style => "display: block; margin: 0px auto 15px; padding-top: 125px;" %>
  <%= image_tag "middle_line.png", :style => "display: block; margin: 10px auto 15px;" %>
  <div id="intro">
    와플스튜디오의 프로젝트들입니다.
  </div>
</div>
