// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height: 100%; }

body {
	background: url("/assets/brown_03.jpg"); 
	font-family: 'NanumGothic', '맑은 고딕';
	text-align: center;
	height: 100%;
	margin: 0;
	padding: 0; }

#container {
	background: url("/assets/bg_shadow.png"); 
	width: 900px;
	height: 100%;
	min-height: 950px;
	margin: 0 auto; }

p {
	margin : 0;
	padding: 0; }

img {
	border: 0; }

h1 {
	text-align: left;	
	font-size: 20px;
	font-family: 'Lucida Sans';
  margin-top: 10px;
  margin-bottom: 20px;
}
span.project_title {
  font-size: 15px;
  color: #B3B3B3;
}
h2 {
	font-size: 15px;
	font-family: 'Lucida Sans';}	
	
li { list-style: none; }
ul { padding: 0; margin: 0; }

#header {
	margin: 0 auto;
	position: relative;
	top: 40px; }

#note {
	background: url("/assets/notebg900.png") no-repeat;
	position: relative;
	top: 40px;
	width: 898px;
	height: 850px;
	margin: 0 auto;
	text-align: left; }
#top_buttons {
  position: absolute;
  right: 0;
  top: 10px;
  width: 230px;
  height: 67px;
  a {
    display: inline-block;
    margin-right: 22px;
  }
}

#leftnote {
	position: absolute;
	top: 80px;
	left: 45px;
	padding: 25px;
	width: 450px; }

.bx-wrapper {
	margin: 0 auto;	}

#slider div {
	width: 400px;
	height: 300px;
	padding-top: 15px; 
	padding-bottom: 30px; 
	text-align: center;
	overflow: hidden; }


.bx-prev {
	position: absolute;
	top: 120px;
	left: -35px; }
.bx-next {
	position: absolute;
	top: 120px;
	right: -35px; }

.members {
	float: left; 
	width: 198px;
  margin-left: 25px;
  border-right: 2px solid #C6C6C6;
  h2 {
    font-weight: normal;
    color: #C400FC;
    font-size: 10pt;
    width: 60px;
    border-bottom: 1px solid #B3B3B3;
    margin-top: 0;
  }
  ul {
    width: 125px;
  }
  ul li {
    font-size: 9pt;
    margin-bottom: 4px;
    span.email {
      color: #9D9D9D;
      display: block;
      margin-left: 3px;
      font-size: 8pt;
    }
  }
}
h3.name_label {
  font-size: 8pt;
  display: inline;
  font-weight: normal;
  color: #C400FC;
}
.details {
	float: left;
  padding-left: 20px;
	width: 180px;
  ul li {
    font-size: 9pt;
  }
}

#rightnote {
	position: absolute;
	top: 80px;
	right: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 250px;}

.list {
	width: 250px;
	height: 270px;}

.imgouter {
	width: 210px;
	display: none;
  border: 1px solid #C6C6C6;
  padding: 7px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 0 0 1px #CFCFCF,
              0 0 0 1px #EAEAEA;
  -moz-box-shadow: 0 0 0 1px #CFCFCF,
              0 0 0 1px #EAEAEA;
  -webkit-box-shadow: 0 0 0 1px #CFCFCF,
              0 0 0 1px #EAEAEA;
}

.imgbox {
	float: left;
  margin: 2px;
}

.clearfix {
	clear: both;}

