// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height: 100%; }

body {
	background: #47301d;
	font-family: 'NanumGothic', '맑은 고딕';
	text-align: center;
	height: 100%;
	margin: 0;
	padding: 0; }

#container {
	background: url("/assets/bg.png") repeat-y;
	width: 927px;
	height: 100%;
	margin: 0 auto; }

h1 {
	font-size: 10pt; }

h2{
	font-size: 10pt; }

p {
	margin : 0;
	padding: 0; }

#header {
	margin: 0 auto; 
	padding-top: 30px; }

#note {
	background: url("/assets/notebg.png") no-repeat;
	position: relative;
	width: 927px;
	height: 533px;
	margin: 0 auto;
	text-align: left; }

#leftnote {
	position: absolute;
	top: 40px;
	left: 0;
	padding: 10px;
	width: 550px; }

#rightnote {
	position: absolute;
	top: 30px;
	right: 0;
	padding: 10px;
	width: 300px;}

.list {
	width: 300px;
	height: 220px;}

.imgouter {
	width: 100%;
	display: none;
}
.imgbox {
	float: left;}

.clearfix {
	clear: both;}
